@media (max-width: 768px) {
    .skillsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

    @media (max-width: 480px) {
    .skillsList {
        grid-template-columns: 1fr;
    }
    .skillsList > li {
        width: 100%; /* Ocupar toda a largura disponível */
    }
}