


@media (max-width: 768px) and (max-width: 992px) {

    nav > a{
        display: none;  
    }

    .images {
        order: -1; 
        margin-bottom: 2rem; 
        max-width: 100%;
        height: auto;
    }

    /* Habilidades */
    .skillsList {
        /* display: contents; */
        grid-template-columns: repeat(2, 1fr);
    }

    .skillsList > li{
        width: auto;
        
    }

    .mySlides > img{
        min-width: 50%;
        min-height: 50%;
    }
}

@media (max-width: 1046px) {
    nav > a{
        display: none;
    }

    .images {
        order: -1; 
        margin-bottom: 2rem; 
        max-width: 100%;
        height: auto;
    }
    .skillsList > li{
        width: auto;
        
    }
    .main > p{
        max-width: 45vw;
    }

}


    /* Habilidades */
@media (max-width: 480px) {
    .skillsList {
        grid-template-columns: 1fr;
    }
    .skillsList > li {
        width: auto; 
    }

    .mySlides > img{
        min-width: 50%;
        min-height: 50%;
    }

    .main > p{
        min-width: 45vw;
    }
}





