


@media (max-width: 768px) and (max-width: 992px) {

    nav > a{
        display: none;  
    }

    .images {
        order: -1; 
        margin-bottom: 2rem; 
        max-width: 100%;
        height: auto;
    }

    /* Habilidades */
    .skillsList {
        /* display: contents; */
        grid-template-columns: repeat(2, 1fr);
    }

    .skillsList > li{
        width: auto;
        
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main h1{
        text-align: center;
    }
    
    .main p{
        font-size: 20px;
        width: 90vw;
        text-align: justify;
    }

    
   
}

@media (max-width: 1046px) {
    nav > a{
        display: none;
    }

    .images {
        order: -1; 
        margin-bottom: 2rem; 
        max-width: 100%;
        height: auto;
    }
    .skillsList > li{
        width: auto;
        
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




    /* Habilidades */
@media (max-width: 480px) {
    .skillsList {
        grid-template-columns: 1fr;
    }
    .skillsList > li {
        width: auto; 
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main p{
        font-size: 25px;
        
    }

    .projetos{
        width: auto;
    }


    section {
        margin: 0;
    }


}





